<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <title>To-Do lists</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  <div class="container">

    <div class="row justify-content-center p-5 bg-body-tertiary rounded-3">
      <div class="col-lg-6 text-center">
        <h1 class="display-1 mb-4">{% block header_text %}{% endblock %}</h1>
        <form method="POST" action="{% block form_action %}{% endblock %}">
          {{ form.text }}
          {% csrf_token %}
          {% if form.errors %}
            <div class="invalid-feedback d-block">{{ form.errors.text }}</div>
          {% endif %}
        </form>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-6">
        {% block table %}
        {% endblock %}
      </div>
    </div>

  </div>

  <script src="/static/jquery-3.1.1.min.js"></script>
  <script src="/static/lists.js"></script>

  <script>
    initialize();
  </script>
</body>

</html>